{% load googlecharts %}
<style>
	.statsPC {
		width: 928.4px;
	}
	.flexPC {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		align-items: stretch;
		flex-wrap: wrap;
		zoom: 80%;
	}
	div[id^="count_graph"] {
		margin: -1px 0 0 -1px;
	}
</style>
<div class="flexPC">
	<div id="count_graph1"></div>
	<div id="count_graph2"></div>
	<div id="count_graph3"></div>
	<div id="count_graph4"></div>
	<div id="count_graph5"></div>
	<div id="count_graph6"></div>
	<div id="count_graph7"></div>
</div>
<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
	<linearGradient id="my-gradient" x2="1" y2="1">
		<stop offset="0%" stop-color="#447799" />
		<stop offset="50%" stop-color="#224488" />
		<stop offset="100%" stop-color="#112266" />
  </linearGradient>
</svg>


{% googlecharts %}

	{% data values1 "graph1" %}
		{% col "date" "Date" %}new Date({{ val.year }}, {{ val.month }} - 1, {{ val.day }}){% endcol %}
		{% col "number" "игроков" %}{{ val }}{% endcol %}
	{% enddata %}

	{% options "opt1" %}
		kind: "AreaChart",
		options: {
			title: 'Количество регистраций в день',
			titleTextStyle: {fontSize: 16},
			animation: {duration: 2000, startup:true, easing: "in"},
			backgroundColor: {strokeWidth: 2, fill: "white"},
			colors: ["red"],
			pointsVisible: true,
			pointSize: 3,
			crosshair: { trigger: 'both', focused: { color: '#E600DD', opacity: 0.6 }, selected: {color: '#E600DD', opacity: 0.8} },
			explorer: {zoomDelta: 0.8, axis:"both", maxZoomIn: 50.0, maxZoomOut: 50.0},
			hAxis: {format:"d MMM\ny", viewWindow:{min:new Date(new Date().getTime() - 1*15*24*60*60*1000)}, minorGridlines: {count:0}},
			vAxis: {gridlines: {multiple:1},viewWindow:{max: 15}},
			legend: "none",
			chartArea: {left: 30, top: 50, width: 520, height: 300, backgroundColor: "#F0F0F0"},
			width: 580,
			height: 400,
		}
	{% endoptions %}

	{% graph "count_graph1" "graph1" "opt1" %}



	{% data values2 "graph2" %}
		{% col "date" "Date" %}new Date({{ val.year }}, {{ val.month }} - 1, {{ val.day }}){% endcol %}
		{% col "number" "рублей" %}{{ val }}{% endcol %}
	{% enddata %}

	{% options "opt2" %}
		kind: "AreaChart",
		options: {
			title: 'Количество заработанных рублей в день',
			titleTextStyle: {fontSize: 16},
			animation: {duration: 2000, startup:true, easing: "in"},
			backgroundColor: {strokeWidth: 2, fill: "white"},
			colors: ["blue"],
			pointsVisible: true,
			pointSize: 3,
			crosshair: { trigger: 'both', focused: { color: '#E600DD', opacity: 0.6 }, selected: {color: '#E600DD', opacity: 0.8} },
			explorer: {zoomDelta: 0.8, axis:"both", maxZoomIn: 50.0, maxZoomOut: 50.0},
			hAxis: {format:"d MMM\ny", viewWindow:{min:new Date(new Date().getTime() - 1*15*24*60*60*1000)}, minorGridlines:{count:0}},
			vAxis: {gridlines: {multiple:100},viewWindow:{max: 10000}},
			legend: "none",
			chartArea: {left: 50, top: 50, width: 500, height: 300, backgroundColor: "#F0F0F0"},
			width: 580,
			height: 400,
		}
	{% endoptions %}

	{% graph "count_graph2" "graph2" "opt2" %}


	{% data values3 "graph3" %}
		{% col "string" "Date" %}"{{ val }}"{% endcol %}
		{% col "number" "игроков" %}{{ val }}{% endcol %}
	{% enddata %}

	{% options "opt3" %}
		kind: "PieChart",
		options: {
			title: 'Количество способов оплаты',
			titleTextStyle: {fontSize: 16},
			backgroundColor: {strokeWidth: 2, fill: "white"},
			colors: ["blue", "red", "green", "yellow"],
			is3D:true,
			tooltip:{trigger:"both"},
			chartArea: {left: 50, top: 50, width: 473, height: 300},
			width: 580,
			height: 400,
		}
	{% endoptions %}

	{% graph "count_graph3" "graph3" "opt3" %}


	{% data values4 "graph4" %}
		{% col "string" "" %}"{{ val }}"{% endcol %}
		{% col "number" "Статус" %}{{ val }}{% endcol %}
	{% enddata %}

	{% options "opt4" %}
		kind: "PieChart",
		options: {
			title: 'Количество привязанных к ВК аккаунтов',
			titleTextStyle: {fontSize: 16},
			backgroundColor: {strokeWidth: 2, fill: "white"},
			colors: ["blue", "red", "green", "yellow"],
			is3D:true,
			tooltip:{trigger:"both"},
			chartArea: {left: 50, top: 50, width: 473, height: 300},
			width: 580,
			height: 400,
		}
	{% endoptions %}

	{% graph "count_graph4" "graph4" "opt4" %}


	{% data values5 "graph5" %}
		{% col "string" "Date" %}"{{ val }}"{% endcol %}
		{% col "number" "Статус" %}{{ val }}{% endcol %}
	{% enddata %}

	{% options "opt5" %}
		kind: "PieChart",
		options: {
			title: 'Количество платежей по купонам',
			titleTextStyle: {fontSize: 16},
			backgroundColor: {strokeWidth: 2, fill: "white"},
			colors: ["blue", "red", "green", "yellow"],
			is3D:true,
			tooltip:{trigger:"both"},
			chartArea: {left: 50, top: 50, width: 473, height: 300},
			width: 580,
			height: 400,
		}
	{% endoptions %}

	{% graph "count_graph5" "graph5" "opt5" %}

{% endgooglecharts %}