<div id="rules" class="info__content">
    <div class="point">
        <span class="point-title">1. Основные правила</span>
        <p class="point-text">
            <strong>1.1 —</strong> Данный документ является официальным регламентом проекта, любые прочие таковыми не являются.<br>
            <strong>1.2 —</strong> Заходя на наш сервер, вы автоматически соглашаетесь с данным списком правил.<br>
            <strong>1.3 —</strong> Незнание правил не освобождает вас от ответственности.<br>
            <strong>1.4 —</strong> Администрация оставляет за собой право изменения данных правил без оповещения игроков.<br>
            <strong>1.5 —</strong> Решение администрации выше любых правил.<br>
            <strong>1.6 —</strong> Деньги, потраченные на платные услуги, не возвращаются.<br>
            <strong>1.7 —</strong> Администрация имеет право не объяснять причину того или иного действия.<br>
            <strong>1.8 —</strong> Ответственность за аккаунт несёт только владелец аккаунта.<br>
            <strong>1.9 —</strong> Донатеры не относятся к персоналу, поэтому не обязаны, но могут помогать игрокам.<br>
            <strong>1.10 —</strong> Попытка обмануть администрацию расценивается как умышленное причинение вреда проекту.<br>
            <strong>1.11 —</strong> От тяжести нарушения может меняться и время наказания, выходя за рамки стандартных сроков.<br>
            <strong>1.13 —</strong> Администрация даёт 100% гарантию восстановления аккаунта в случае привязки его хозяином к боту ВК<br>
            <strong>1.14 —</strong> Запрещена передача аккаунта в любой форме 3-им лицам<br>
        </p>
    </div>
    <div class="point">
        <span class="point-title">2. Правила игрового чата</span>
        <p class="point-text">
            <strong>2.1 —</strong> Запрещено оскорбительное поведение в чью-либо сторону.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка чата от 1 до 3 часов</em>.</span><br>
            <strong>2.2 —</strong> Запрещено спамить, а также организовывать спам в чате.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка чата от 30 до 60 минут</em>.</span><br>
            <strong>2.3 —</strong> Запрещено обсуждать в чате порнографические и прочие 18+ темы.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка чата от 1 до 5 часов</em>.</span><br>
            <strong>2.4 —</strong> Запрещено распространять ссылки, а также рекламировать сторонние проекты, не относящиеся к серверу.
                <span>↳ <strong>Наказание:</strong> <em>блокировка IP аккаунта + снятие привилегии.</em>.</span><br>
            <strong>2.5 —</strong> Запрещено упоминать сторонние проекты, не относящиеся к серверу.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка чата от 1 до 5 часов</em>.</span><br>
            <strong>2.6 —</strong> Запрещено выдавать себя за команду проекта, а также вводить их в заблуждение.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта от 4 до 12 часов</em>.</span>
                <span>⇒ <strong>При рецидиве:</strong> <em>Блокировка навсегда</em>.</span><br>
            <strong>2.7 —</strong> Запрещены негативные высказывания о сервере. (Для вашей критики и предложений по улучшению проекта есть отдельный пункт в личном кабинете в боте ВК).
                <span>↳ <strong>Наказание:</strong> <em>Блокировка чата от 3 до 5 часов</em>.</span><br>
            <strong>2.8 —</strong> Запрещено разжигать конфликты по почве расы/нации/религии/ориентации и т.д.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка чата от 1 до 2 часов</em>.</span><br>
            <strong>2.9 —</strong> Запрещена провокация кого-либо на нарушение правил.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта провокатора на 30 минут</em>.</span><br>
        </p>
    </div>
    <div class="point">
        <span class="point-title">3. Правила игры</span>
        <p class="point-text">
            <strong>3.1 —</strong> Запрещено использовать/распространять читы на макрос, и прочее стороннее ПО.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка IP аккаунта + снятие привилегии</em>.</span><br>
            <strong>3.2 —</strong> Запрещено использование багов сервера и их распространение.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта на 4 до 7 дней</em>.</span><br>
            <strong>3.3 —</strong> Запрещено продавать что-либо на сервере за реальные деньги.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта навсегда + снятие привилегии</em>.</span><br>
            <strong>3.4 —</strong> Запрещено пытаться выдать себя за кого-либо из состава сервера при помощи поддельного ника.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта на 3 дня.</em>.</span><br>
            <strong>3.5 —</strong> Запрещено создавать лаги на сервере.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта на 3 до 10 дней</em>.</span><br>
            <strong>3.6 —</strong> Запрещено выдавать наказания (ban/mute/kick/jail) по некорректным причинам или вовсе без них.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта на 1 до 5 часов</em>.</span><br>
            <strong>3.7 —</strong> Запрещено снимать корректно выданные наказания.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта от 1 до 3 дней</em>.</span><br>
            <strong>3.8 —</strong> Запрещено мешать игрокам, а также всячески препятствовать нормальной игре.
                <span>↳ <strong>Наказание:</strong> <em>Три предупреждения, далее блокировка аккаунта от 1 до 3 часов</em>.</span><br>
            <strong>3.9 —</strong> Запрещено портить экономику режимов.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта на 1 до 3 дней + удаление всего имущества (баланс/регионы/предметы)</em>.</span><br>
            <strong>3.10 —</strong> Запрещено иметь в инвентаре предметы, нарушающие правила сервера.
                <span>↳ <strong>Наказание:</strong> <em>Три предупреждения, далее блокировка аккаунта от 1 до 3 дней</em>.</span><br>
            <strong>3.11 —</strong> Запрещено строить оскорбительные постройки, 18+ строения, застраивать блоками чужие регионы.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта от 2 до 4 дней</em>.</span><br>
            <strong>3.12 —</strong> Запрещено на режиме «Выживание» заливать лавой/водой чужие регионы, портить карту при помощи WorldEdit (сферы, кубы и пр.).
                <span>↳ <strong>Наказание:</strong> <em>Снятие привилегии</em>.</span><br>
            <strong>3.13 —</strong> Запрещено строить ловушки из которых нельзя никак выбраться.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта на 1 день</em>.</span><br>
            <strong>3.14 —</strong> Запрещено создавать никнеймы, нарушающие правила сервера.
                <span>↳ <strong>Наказание:</strong> <em>Блокировка аккаунта навсегда</em>.</span><br>
            <strong>3.15 —</strong> На режиме «Выживание» гриферство разрешено только до привилегии Builder.
                <span>↳ <strong>Наказание:</strong> <em>Снятие привилегии</em>.</span><br>
        </p>
    </div>
    <div class="point" style="margin-bottom: 0;">
        <span class="point-title">4. Донат</span>
        <p class="point-text">
            <strong>[Важно]</strong> Покупка доната возможна только на сайте <a href="/">https://pixelcore.ru</a> После покупки вы автоматически соглашайтесь с правилами ниже. Все средства, выплаченные игроком за донат, считаются добровольным пожертвованием на развитие игрового проекта<br>
            <strong>4.1 —</strong> После покупки доната средства <strong>не возвращаются</strong>!<br>
            <strong>4.2 —</strong> Если привилегия будет удалена с сервера, её заменят на другую (равной по цене).<br>
            <strong>4.3 —</strong> Деньги с покупок доната идут на развитие сервера: Оплата хостинга, поддержание стабильной работы сервера, обеспечение обновлений и исправлений ошибок, а так же на оплату разработчиков.<br>
            <strong>4.4 —</strong> Если привилегия по каким-либо причинам не была выдана, обратитесь в тех. поддержку имея при себе все необходимые данные от покупки.<br>
            <strong>4.5 —</strong> При взломе/несанкционированном доступе/утере данных гарантии возврата доната не предоставляется.<br>
            <strong>4.6 —</strong> При попытке обмануть администрацию сервера: предоставить фейковый скриншот оплаты, другой ник и т.д, или же оскорбить администрацию, даже при действительной покупке привилегии, администратор в выдаче привилегии способен отказать.<br>
            <strong>4.7 —</strong> Если произошла ошибка при введении некорректного никнейма со стороны покупателя необходимо связаться с администрацией для выдачи доната на корректный игровой никнейм.<br>
            <strong>4.8 —</strong> Игрок несёт полную ответственность за его аккаунт.<br>
            <strong>4.9 —</strong> Обжалование действий Администрации возможно в течении 3-х дней, после этого срока никакие претензии не принимаются.<br>
            <strong>4.10 —</strong> Если вы нарушали правила сервера, то администратор сервера в праве снять с вас донат и не вернуть деньги за покупку доната
        </p>
    </div>
</div>

<script type="text/javascript">
    $(".point-title").on("click", function(){
        $($(this).parent().children()[1]).slideToggle(200);
    })
</script>