<div id="how-to-buy" class="info__content">
    <div class="point not_anim">
        <div class="point-title">1. Выбор привилегии и ввод ника</div>
        <p class="point-text" style="border-left: none">
            Выбери привилегию для покупки и введи свой ник. Дождись его проверки (ник станет зеленым). Введи промокод (при наличии) и дождись, пока и он позеленеет.
            А затем нажми на кнопку Купить<br>
            <img src="/media/how-to-buy/1.png" alt="">
        </p>
    </div>
    <div class="point not_anim">
        <div class="point-title">2. Выбор способа оплаты</div>
        <p class="point-text" style="border-left: none">
            QIWI, Бансковские карты, YouMoney, Телефон... (вскоре будут добавлены еще способы оплаты)<br>
            <img src="/media/how-to-buy/2.png" alt="">
        </p>
    </div>
    <div class="point not_anim">
        <div class="point-title">3. Оплата</div>
        <p class="point-text" style="border-left: none">
            Следуйте инструкциям платежной системы (зависит от способа оплаты) <br>
            <img src="/media/how-to-buy/3.png" alt="">
        </p>
    </div>
    <div class="point not_anim">
        <div class="point-title">4. Перезаход на сервер</div>
        <p class="point-text" style="border-left: none">
            После оплаты рекомендуется через 2-3 минуты перезайти на сервер и привилегия появится! 
        </p>
    </div>
    <div class="point not_anim" style="margin-bottom: 0">
        <div class="point-title">5. Готово!</div>
        <p class="point-text" style="border-left: none">
            Благодарим сердечно за поддержку нашего проекта)
        </p>
    </div>
</div>

