{% extends 'base.html' %}

{% block title %}Как купить?{% endblock %}
{% block nav_title %}Как купить?{% endblock %}

{% block content %}

<div id="how-to-buy" class="info__content">
    <div class="point text--center">
        <div class="point__title">1. Выбор привилегии и ввод ника</div>
        <div class="point__text" style="border-left: none">
            Выбери привилегию для покупки и введи свой ник. Дождись его проверки (ник станет зеленым). Введи промокод (при наличии) и дождись, пока и он позеленеет.
            А затем нажми на кнопку <i>Купить</i><br>
            <img src="/media/how-to-buy/1.png" alt="">
        </div>
    </div>
    <div class="point text--center">
        <div class="point__title">2. Выбор способа оплаты</div>
        <div class="point__text" style="border-left: none">
            QIWI, Бансковские карты, YouMoney, Телефон... (вскоре будут добавлены еще способы оплаты)<br>
            <img src="/media/how-to-buy/2.png" alt="">
        </div>
    </div>
    <div class="point text--center">
        <div class="point__title">3. Оплата</div>
        <div class="point__text" style="border-left: none">
            Следуйте инструкциям платежной системы (зависит от способа оплаты) <br>
            <img src="/media/how-to-buy/3.png" alt="">
        </div>
    </div>
    <div class="point text--center">
        <div class="point__title">4. Перезаход на сервер</div>
        <div class="point__text" style="border-left: none">
            После оплаты рекомендуется через 2-3 минуты перезайти на сервер и привилегия появится!
        </div>
    </div>
    <div class="point text--center" style="margin-bottom: 0">
        <div class="point__title">5. Готово!</div>
        <div class="point__text" style="border-left: none">
            Благодарим сердечно за поддержку нашего проекта)
        </div>
    </div>
</div>

{% endblock %}
