<div id="howtobuy" class="info__content">
    <div class="point not_anim">
        <div class="point-title">1. Выбери привилегию и введи ник</div>
        <p class="point-text" style="border-left: none">
            которую хочешь купить, введи промо-код(если есть), а затем нажми на кнопку Купить <br>
            <img src="https://i.imgur.com/FvjshOv.png" class="img-fluid">
        </p>
    </div>
    <div class="point not_anim">
        <div class="point-title">2. Выбери нужный способ оплаты</div>
        <p class="point-text" style="border-left: none">
            QIWI, Телефон, Яндекс.Деньги, все на твой выбор <br>
            <img src="https://i.imgur.com/FvjshOv.png" class="img-fluid">
        </p>
    </div>
    <div class="point not_anim">
        <div class="point-title">3. Введи свой номер телефона</div>
        <p class="point-text" style="border-left: none">
            или лицевого счета, все зависит от выбранного способа оплаты <br>
            <img src="https://i.imgur.com/FvjshOv.png" class="img-fluid">
        </p>
    </div>
    <div class="point not_anim">
        <div class="point-title">4. Перейди к оплате</div>
        <p class="point-text" style="border-left: none">
            но для начала введи пароль от сервиса оплаты (если требуется) <br>
            <img src="https://i.imgur.com/FvjshOv.png" class="img-fluid">
        </p>
    </div>
    <div class="point not_anim" style="margin-bottom: 0">
        <div class="point-title">5. Успешно!</div>
        <p class="point-text" style="border-left: none">
            вы будете перенаправлены на сайт платежной системы <br style="margin-top: 0">
            теперь достаточно зайти на сервер под своим ником и наслаждаться игрой с привилегией! <br>
            <img src="https://i.imgur.com/FvjshOv.png" class="img-fluid">
        </p>
    </div>
</div>

