<{% extends 'base.html' %}
{% load static %}

{% block title %}Политика обработки персональных данных{% endblock %}
{% block nav_title %}Политика обработки персональных данных{% endblock %}

{% block content %}

<div id="privacy" class="info__content">
    <a class="info__link text--center" href="{% static 'docs/privacy.pdf' %}">
        Открыть документ
    </a>
    <div class="point" style="margin-bottom: 0;">
        <div class="point__title text--center">Персональные данные <i>Пользователя / Покупателя</i> обрабатываются в соответствии с ФЗ «О персональных данных» № 152-ФЗ.</div>
        <div class="point__text">
            <p><strong><i>Я (Покупатель)</i> принимаю условия политику обработки персональных данных.</strong></p>
            <p>1. При покупке на Сайте <i>Пользователь</i> предоставляет следующую информацию: Никнейм.</p>

            <p>2. Предоставляя свои персональные данные Продавцу, <i>Посетитель Сайта / Пользователь / Покупатель</i> соглашается на их
            обработку Продавцом, в том числе в целях выполнения Продавцом обязательств перед Посетителем Сайта / Пользователем /
            Покупателем в рамках настоящей Публичной оферты, продвижения Продавцом товаров и услуг, проведения электронных и sms
            опросов, контроля результатов маркетинговых акций, клиентской поддержки, организации доставки товара Покупателям,
            проведение розыгрышей призов среди <i>Посетителей Сайта / Пользователей / Покупателей</i>, контроля удовлетворенности <i>Посетителя
            Сайта / Пользователя / Покупателя</i>, а также качества услуг, оказываемых Продавцом.</p>

            <p>3. Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций),
            совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными,
            включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение,
            использование, передачу (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость
            в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>

            <p>4. Продавец вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию. <i>Посетитель /
            Пользователь / Покупатель</i> настоящим дает согласие на сбор, анализ и использование cookies, в том числе третьими лицами
            для целей формирования статистики и оптимизации рекламных сообщений.</p>

            <p>5. Продавец получает информацию об ip-адресе посетителя Сайта <a href="/" class="point__link">https://pixelcore.ru</a>. Данная информация не
            используется для установления личности посетителя.</p>

            <p>6. Продавец не несет ответственности за сведения, предоставленные <i>Пользователем / Покупателем на Сайте</i> в общедоступной форме.</p>

            <p>7. Продавец вправе осуществлять записи телефонных разговоров с <i>Пользователем / Покупателем</i>. При этом Продавец обязуется:
            предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу
            ее третьим лицам, не имеющим непосредственного отношения к исполнению Заказов, в соответствии с п. 4 ст. 16 Федерального
            закона «Об информации, информационных технологиях и о защите информации».</p>

            <p>8. Оплатить заказ можно банковскими картами Visa, Master Card, «Мир» или через платежные системы Apple Pay, Яндекс.Деньги,
            QIWI или PayPal (последняя — только для покупателей из-за пределов Российской Федерации). Чтобы оплатить покупку, вы
            будете перенаправлены на сервер платежной системы PayMaster, на котором нужно ввести необходимые данные. При оплате
            банковской картой безопасность платежей гарантирует процессинговый центр PayMaster. Платежная система PayMaster обладает
            подтвержденным сертификатом соответствия требованиям стандарта PCI DSS в части хранения, обработки и передачи данных
            держателей карт. Стандарт безопасности банковских карт PCI DSS поддерживается международными платежными системами,
            включая MasterCard и Visa, Inc. Система PayMaster также является участником программы непрерывного соответствия
            Compliance Control PCI DSS Compliance Process (P.D.C.P.). Ваши конфиденциальные данные, необходимые для оплаты
            (реквизиты карты, регистрационные данные и др.), не поступают в интернет-магазин — их обработка производится на стороне
            процессингового центра PayMaster и полностью защищена. Никто, в том числе наш интернет-магазин
            «<a href="/" class="point__link">https://pixelcore.ru</a>», не может получить данные вашей банковской карты или иные данные,
            необходимые для осуществления платежа.</p>
        </div>
    </div>
</div>

{% endblock %}
