<div id="public-offer" class="info__content">
    <div class="point">
        <span class="point-title">1. Определение терминов</span>
        <p class="point-text">
            <strong>1.1.</strong> Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу: <a href="/">https://pixelcore.ru</a>.<br>
            <strong>1.2.</strong> Продавец – физическое или юридическое лицо, владеющее и распоряжающееся Веб-сайтом и игровым проектом.<br>
            <strong>1.3.</strong> Покупка Товара на Веб-сайте – оформление заявки Покупателем на приобретение указанных позиций из ассортимента на Веб-сайте или через Продавца.
        </p>
    </div>
    <div class="point">
        <span class="point-title">2. Общие положения</span>
        <p class="point-text">
            <strong>2.1.</strong> В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ), в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт этой оферты, становится Покупателем (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению Договора на условиях, изложенных в оферте).<br>
            <strong>2.2.</strong> Моментом полного и безоговорочного принятия Покупателем предложения Продавца заключить Договор оферты (акцептом оферты) считается факт подтверждения готовности совершить оплату услуги Продавца, посредством нажатия кнопки «Купить» на сайте. Текст настоящего Договора-оферты (далее по тексту – «Договор») расположен по адресу: <a href="/public-offer/">https://pixelcore.ru/public-offer</a>.<br>
            <strong>2.3.</strong> Осуществляя акцепт Договора в порядке, определенном п. 2.2 Договора, Покупатель подтверждает, что он ознакомлен, согласен, полностью и безоговорочно принимает все условия Договора в том виде, в каком они изложены в тексте Договора, в том числе в приложениях к Договору, являющихся его неотъемлемой частью.<br>
            <strong>2.4.</strong> Покупатель согласен, что акцепт Договора в порядке, указанном в п. 2.1 Договора является заключением Договора на условиях, изложенных в нем.<br>
            <strong>2.5.</strong> Договор не может быть отозван.<br>
            <strong>2.6.</strong> Договор не требует скрепления печатями и/или подписания Покупателем и Продавцом (далее по тексту - Стороны) и сохраняет при этом юридическую силу.<br>
            <strong>2.7.</strong> Продавец имеет право вносить изменения в Договор без уведомления Покупателя.
        </p>
    </div>
    <div class="point">
        <span class="point-title">3. Цена товара</span>
        <p class="point-text">
            <strong>3.1.</strong> Цена на каждую позицию Товара указана на Веб-сайте.<br>
            <strong>3.2.</strong> Продавец имеет право в одностороннем порядке изменить цену на любую позицию Товара.<br>
            <strong>3.3.</strong> Расчеты между Продавцом и Покупателем за Товар производятся способами, указанными при оформлении заказа.
        </p>
    </div>
    <div class="point">
        <span class="point-title">4. Оплата товара</span>
        <p class="point-text">
            <strong>4.1.</strong> Оплата Товара осуществляется Покупателем выбранным методом оплаты.<br>
            <strong>4.2.</strong> Покупатель обязуется оплатить выбранный товар, для его получения.<br>
            <strong>4.3.</strong> Если денежные средства не поступлении на счет Продавца в течение 3 рабочих банковских дней, Продавец оставляет за собой право аннулировать заказ.<br>
            <strong>4.4.</strong> Стоимость Товара по Договору определяется в соответствии с действующими ценами и прописана на Веб-сайте.<br>
            <strong>4.5.</strong> Стоимость услуги может быть изменена Продавцом в одностороннем порядке.
        </p>
    </div>
    <div class="point">
        <span class="point-title">5. Условия выдачи товара</span>
        <p class="point-text">
            <strong>5.1.</strong> Выдача товара происходит в автоматическом режиме Веб-сайтом на игровой проект.<br>
            <strong>5.2.</strong> Если произошла ошибка при выдаче товара не по вине Продавца. Необходимо обратиться к Продавцу для его получения в ручном режиме с предоставлением чека, об успешной покупке.<br>
            <strong>5.3.</strong> Если произошла ошибка при введении некорректного никнейма со стороны Покупателя, необходимо связаться с Продавцом для выдачи товара на корректный игровой никнейм.
        </p>
    </div>
    <div class="point">
        <span class="point-title">6. Права и обязанности сторон</span>
        <p class="point-text">
            <strong>6.1.</strong> Продавец имеет право:
                <span>1) Продавец оставляет за собой право изменять настоящий Договор Публичной Оферты в одностороннем порядке;</span>
                <span>2) В одностороннем порядке аннулировать купленный Товар в случае нарушения Покупателем условий использования Товара находящимся по ссылке: <a href="/rules/">https://pixelcore.ru/rules</a>.</span>
            <br>
            <strong>6.2.</strong> Продавец обязан:
                <span>1) Исполнять условия настоящего Договора о положении Публичной Оферты.</span><br>

            <strong>6.3.</strong> Покупатель имеет право:
                <span>1) Оформить покупку на Веб-сайте;</span>
                <span>2) Требовать от Продавца исполнения условий Договора о положении Публичной Оферты.</span>
            <br>
            <strong>6.4.</strong> Покупатель обязан:
                <span>1) Своевременно оплатить и получить Товар на условиях настоящего Договора.</span>
        </p>
    </div>
    <div class="point">
        <span class="point-title">7. Ответственность сторон</span>
        <p class="point-text">
            <strong>7.1.</strong> Стороны несут ответственность за невыполнение или ненадлежащее выполнение условий настоящего договора в порядке, предусмотренном этим Договором и действующим законодательством.<br>
            <strong>7.2.</strong> Продавец не несет ответственности:
                <span>1) За задержку и перебои в предоставлении Товара, которые происходят по причинам, находящимся вне сферы его контроля;</span>
                <span>2) За противоправные незаконные действия, осуществленные Покупателем с помощью данного доступа к сети Интернет;</span>
                <span>3) За содержание и правдивость информации, предоставляемой Покупателю при оформлении заказа.</span>
            <br>
            <strong>7.3.</strong> Стороны прикладывают максимум усилий для решения любых разногласий исключительно путем переговоров.
        </p>
    </div>
    <div class="point" style="margin-bottom: 0px;">
        <span class="point-title">8. Политика возврата</span>
        <p class="point-text">
            <strong>8.1.</strong> Все денежные средства, которые Покупатель потратил на приобретения любых Товаров на Веб-сайте, считаются добровольным пожертвованием и не подлежат возврату ни при каких условиях.
        </p>
    </div>
</div>

<script type="text/javascript">
    $(".point-title").on("click", function(){
        $($(this).parent().children()[1]).slideToggle({duration: 500, progress: function(){$(document).trigger("scroll")}});
    })
</script>
