{% extends 'base.html' %}
{% load static %}

{% block title %}Публичная оферта{% endblock %}
{% block nav_title %}Публичная оферта{% endblock %}

{% block content %}

<div id="public-offer" class="info__content">
    <a class="info__link text--center" href="{% static 'docs/privacy.pdf' %}">
        Открыть документ
    </a>
    <div class="point">
        <div class="point__title">1. Определение терминов</div>
        <div class="point__text">
            <p><strong>1.1.</strong> Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу: <a href="/" class="point__link">https://pixelcore.ru</a>.</p>
            <p><strong>1.2.</strong> Продавец – физическое или юридическое лицо, владеющее и распоряжающееся Веб-сайтом и игровым проектом.</p>
            <p><strong>1.3.</strong> Покупка Товара на Веб-сайте – оформление заявки Покупателем на приобретение указанных позиций из ассортимента на Веб-сайте или через Продавца.</p>
        </div>
    </div>
    <div class="point">
        <div class="point__title">2. Общие положения</div>
        <div class="point__text">
            <p><strong>2.1.</strong> В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ), в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт этой оферты, становится Покупателем (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению Договора на условиях, изложенных в оферте).</p>
            <p><strong>2.2.</strong> Моментом полного и безоговорочного принятия Покупателем предложения Продавца заключить Договор оферты (акцептом оферты) считается факт подтверждения готовности совершить оплату услуги Продавца, посредством нажатия кнопки «Купить» на сайте. Текст настоящего Договора-оферты (далее по тексту – «Договор») расположен по адресу: <a href="/public-offer/" class="point__link">https://pixelcore.ru/public-offer</a>.</p>
            <p><strong>2.3.</strong> Осуществляя акцепт Договора в порядке, определенном п. 2.2 Договора, Покупатель подтверждает, что он ознакомлен, согласен, полностью и безоговорочно принимает все условия Договора в том виде, в каком они изложены в тексте Договора, в том числе в приложениях к Договору, являющихся его неотъемлемой частью.</p>
            <p><strong>2.4.</strong> Покупатель согласен, что акцепт Договора в порядке, указанном в п. 2.1 Договора является заключением Договора на условиях, изложенных в нем.</p>
            <p><strong>2.5.</strong> Договор не может быть отозван.</p>
            <p><strong>2.6.</strong> Договор не требует скрепления печатями и/или подписания Покупателем и Продавцом (далее по тексту - Стороны) и сохраняет при этом юридическую силу.</p>
            <p><strong>2.7.</strong> Продавец имеет право вносить изменения в Договор без уведомления Покупателя.</p>
        </div>
    </div>
    <div class="point">
        <div class="point__title">3. Цена товара</div>
        <div class="point__text">
            <p><strong>3.1.</strong> Цена на каждую позицию Товара указана на Веб-сайте.</p>
            <p><strong>3.2.</strong> Продавец имеет право в одностороннем порядке изменить цену на любую позицию Товара.</p>
            <p><strong>3.3.</strong> Расчеты между Продавцом и Покупателем за Товар производятся способами, указанными при оформлении заказа.</p>
        </div>
    </div>
    <div class="point">
        <div class="point__title">4. Оплата товара</div>
        <div class="point__text">
            <p><strong>4.1.</strong> Оплата Товара осуществляется Покупателем выбранным методом оплаты.</p>
            <p><strong>4.2.</strong> Покупатель обязуется оплатить выбранный товар, для его получения.</p>
            <p><strong>4.3.</strong> Если денежные средства не поступлении на счет Продавца в течение 3 рабочих банковских дней, Продавец оставляет за собой право аннулировать заказ.</p>
            <p><strong>4.4.</strong> Стоимость Товара по Договору определяется в соответствии с действующими ценами и прописана на Веб-сайте.</p>
            <p><strong>4.5.</strong> Стоимость услуги может быть изменена Продавцом в одностороннем порядке.</p>
        </div>
    </div>
    <div class="point">
        <div class="point__title">5. Условия выдачи товара</div>
        <div class="point__text">
            <p><strong>5.1.</strong> Выдача товара происходит в автоматическом режиме Веб-сайтом на игровой проект.</p>
            <p><strong>5.2.</strong> Если произошла ошибка при выдаче товара не по вине Продавца. Необходимо обратиться к Продавцу для его получения в ручном режиме с предоставлением чека, об успешной покупке.</p>
            <p><strong>5.3.</strong> Если произошла ошибка при введении некорректного никнейма со стороны Покупателя, необходимо связаться с Продавцом для выдачи товара на корректный игровой никнейм.</p>
        </div>
    </div>
    <div class="point">
        <div class="point__title">6. Права и обязанности сторон</div>
        <div class="point__text">
            <p><strong>6.1.</strong> Продавец имеет право:<br>
                <span>  1) Продавец оставляет за собой право изменять настоящий Договор Публичной Оферты в одностороннем порядке;</span><br>
                <span>  2) В одностороннем порядке аннулировать купленный Товар в случае нарушения Покупателем условий использования Товара находящимся по ссылке: <a href="/rules/" class="point__link">https://pixelcore.ru/rules</a>.</span>
            </p>
            <p><strong>6.2.</strong> Продавец обязан:
                <span>1) Исполнять условия настоящего Договора о положении Публичной Оферты.</span></p>

            <p><strong>6.3.</strong> Покупатель имеет право:
                <span>1) Оформить покупку на Веб-сайте;</span>
                <span>2) Требовать от Продавца исполнения условий Договора о положении Публичной Оферты.</span>
            </p>
            <p><strong>6.4.</strong> Покупатель обязан:
                <span>1) Своевременно оплатить и получить Товар на условиях настоящего Договора.</span></p>
        </div>
    </div>
    <div class="point">
        <div class="point__title">7. Ответственность сторон</div>
        <div class="point__text">
            <p><strong>7.1.</strong> Стороны несут ответственность за невыполнение или ненадлежащее выполнение условий настоящего договора в порядке, предусмотренном этим Договором и действующим законодательством.</p>
            <p><strong>7.2.</strong> Продавец не несет ответственности:<br>
                <span>1) За задержку и перебои в предоставлении Товара, которые происходят по причинам, находящимся вне сферы его контроля;</span><br>
                <span>2) За противоправные незаконные действия, осуществленные Покупателем с помощью данного доступа к сети Интернет;</span><br>
                <span>3) За содержание и правдивость информации, предоставляемой Покупателю при оформлении заказа.</span>
            </p>
            <p><strong>7.3.</strong> Стороны прикладывают максимум усилий для решения любых разногласий исключительно путем переговоров.</p>
        </div>
    </div>
    <div class="point" style="margin-bottom: 0;">
        <div class="point__title">8. Политика возврата</div>
        <div class="point__text">
            <p><strong>8.1.</strong> Все денежные средства, которые Покупатель потратил на приобретения любых Товаров на <a href="/" class="point__link">Веб-сайте</a>, считаются добровольным пожертвованием и не подлежат возврату ни при каких условиях.</p>
        </div>
    </div>
</div>

{% endblock %}
