{% load static %}

{% if not not_extend %}
<!doctype html>
<html lang="ru">
    
<head>
    
{#head tags#}
<meta charset="utf-8">
{#<meta name="description" content="{{ messages.metaDesc }}">#}
<meta name="keywords" content="pixelcore,пикселькор,донат,привилегии,ключи,сервер,майнкрафт,выживание,мини-игры">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="{% static 'icons/main.ico' %}">
    
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/animations.css' %}">
    
<script type="text/javascript" src="{% static 'js/base-bundle.js' %}"></script>
    
{% endif %}

<title>{% block title %}PixelCore сервер{% endblock %}</title>
    
{% if not not_extend %}
</head>
<body>
    
<div class="progress-bar"></div>

<div class="background-images">
    {% for i in background_images %}
        <img class="background-image{% if forloop.first %} background-image--active background-image--animate{% endif %}"
             alt="image {{ forloop.counter }}"
             src="{{ MEDIA_URL }}{{ i.image }}"
        >
    {% endfor %}
</div>

<header>
    <div class="header__content">
        <span class="header__title">{% block nav_title %}PixelCore сервер{% endblock %}</span>
    
        <div class="nav-switch --pointer">
            <div class="nav-switch__line"></div>
        </div>
    </div>
</header>
    
<nav>
    <span style="display: none;">Меню</span> 
    <a href="/" class="nav__link{% if request.path == '/' %} nav__link--active{% endif %}">Главная</a>
    {% for i in menu_links %}
        <a href="{{ i.link }}" class="nav__link{% if request.path == i.link %} nav__link--active{% endif %}">{{ i.name }}</a>
    {% endfor %}
</nav>
    
{% endif %}

<main>
{% block content %}{% endblock %}
</main>

{% if not not_extend %}
    
<footer>
    <div class="footer__content">
        <div class="footer__image">
            <a href="/" target="_blank">
                <img src="/media/main/pc_graffiti.png" alt="PixelCore graffiti">
            </a>
        </div>
        
        <div class="footer__main-content">
            <ul class="footer__links">
                <li class="footer__link">
                    <a href="/info/public-offer/">Публичная оферта</a>
                </li>
                <li class="footer__link">
                    <a href="https://vk.cc/cd75Mn" target="_blank">Тех. поддержка</a>
                </li>
                <li class="footer__link">
                    <a href="/info/privacy/">Политика обработки персональных данных</a>
                </li>
            </ul>
            <div class="footer__info-major">
                Сервер <span style="color: blue;">P</span>ixel<span style="color: red;">C</span>ore
                © 2024
            </div>
            <div class="footer__info-minor">Сервер PixelCore никак не относится к Mojang, AB.</div>
        </div>
        
        <div class="footer__image-links">
            <div class="footer__image">
                <a href="https://vk.com/mcpixelcore" target="_blank">
                    <img src="/media/main/footer_vk.png">
                </a>
            </div>
        </div>
    </div>
</footer>
    
<div class="notices"></div>
    
</body>
</html>
{% endif %}    